<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple Image Upload</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <h1>A Goshdarn Simple Image Host</h1>
  <p>By Daniel Wu</p> 

  <form method="POST" enctype="multipart/form-data">
    <label class="btn btn-default btn-file">
   		<input type="file" id="uploadfile" name="uploadfile" accept="image/*" hidden>
	</label>
    <input type="submit" id="uploadbutton" class="btn btn-success" value="Upload" onclick="return changeText();">
  </form>        
</div>

<script type="text/javascript"> 
    function changeText(){
        var submit = document.getElementById("uploadbutton");
        submit.value = 'Uploading...';
        return true;
    };
</script>

</body>
</html>
