<!DOCTYPE html>
<html lang="en">
<head>
  <title>AFSIM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <h1>A Fucking Simple Image Host</h1>
  <p>afsim.com</p>
</div>

<div class="container">
  <div id="dropContainer" style="border:1px solid black;height:100px;">
    Drag image here...
  </div>
    <form method="POST" id="uploadform" enctype="multipart/form-data">
        <label class="btn btn-default btn-file">
            <input type="file" id="uploadfile" name="uploadfile" accept="image/*" multiple hidden>
        </label>
        <input type="submit" id="uploadbutton" class="btn btn-success" value="Upload" onclick="return changeText();">
    </form>
</div>

<script type="text/javascript"> 
    function changeText(){
        var submit = document.getElementById("uploadbutton");
        submit.value = 'Uploading...';

        var dropContainer = document.getElementById("dropContainer");
        dropContainer.value = "Uploading...";

        return true;
    };
</script>

<script type="text/javascript"> 
  // dragover and dragenter events need to have 'preventDefault' called
  // in order for the 'drop' event to register. 
  // See: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Drag_operations#droptargets
  dropContainer.ondragover = dropContainer.ondragenter = function(evt) {
    evt.preventDefault();
  };
  dropContainer.ondrop = function(evt) {
    // pretty simple -- but not for IE :(
    uploadfile.files = evt.dataTransfer.files;
    evt.preventDefault();
    document.getElementById('uploadform').submit();
  };
</script>

</body>
</html>
